<!DOCTYPE html>
<html>
  <head>
    <title>Popular Tracks App</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <h1>Popular Tracks App</h1>
    <label for="genre">Select Genre:</label>
    <select id="genre">
      <option value="rock">Rock</option>
      <option value="alternative rock">Alternative Rock</option>
      <option value="pop">Pop</option>
      <option value="blues">Blues</option>
      <option value="country">Country</option>
      <option value="electronic">Electronic</option>
      <option value="jazz">Jazz</option>
      <option value="r&b">R&amp;B</option>
      <option value="rap">Rap</option>
      <option value="reggae">Reggae</option>
    </select>
    <button onclick="getTracks()">Search</button>

    <table id="tracksTable">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Track</th>
          <th>Popularity</th>
          <th>Album Cover</th>
          <th>Preview</th>
        </tr>
      </thead>
      <tbody id="tracksBody"></tbody>
    </table>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
